.form-wrap {
    text-align: center;
    max-width: 500px;
    padding: 10px;
    width: calc(100% - 20px);
    margin: 0 auto;
    input {
        margin: 15px 0;
    }
    .row {
        select {
            margin-bottom: 15px;
        }
    }
    .btn-primary {
        margin-bottom: 24px;
    }
}